.messages div.info { background-color: #e2e3ec; padding: 15px;}
.messages div.error { background-color: #FCE4D6; padding: 15px;}
.messages div.success { background-color: #92D050; padding: 15px;}


.promocode_view_list_object_tool {
}

.promocode_view_list_object_tool select {
width:20rem;
}

.change_external_id, .delete_by_park, .delete_by_external_id {
padding-bottom: 10px;
}

.file_upload {
padding-top: 10px;
}

